.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;

}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* .navbar a:hover {
  background-color: #e9ecef;
  color: #333;
} */

.navbar a.active {
  background-color: #007bff;
  font-weight: bold;
}