.modal-backdrop{
    z-index: 999;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);  
}

.modal-container{
    position: fixed;
    display: flex;
    top: 0;
    left:0;
    width:100vw;
    height: 100vh;
    justify-content: center;
    z-index: 1000;

}

.modal-content{
    border-radius: 2rem;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.2);
    background: white;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
}