.meal-row-container{
    padding: 1rem;
    border: 1rem;
}

.meal-list-carousel{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-item{
    flex: 0 0 auto;
    width: calc(100%/3 - 20px);
    height: 10rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}